*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-geral: 'Roboto Mono', monospace;
    --secondary-color:#000000;
    --primary-color: #040455;
    --gap: 30px;


}

body{
    font-family: var(--font-geral);

}
li{
    list-style: none;
}
a{

    text-decoration: none;
    color: white;
}
footer{
    text-align: center;
    margin-top: var(--gap);
    padding: var(--gap);
    background-color: var(--primary-color);
}
.main-bg{

    color:white;
    background-color: var(--primary-color);

}

.black-bg{
    color: white;
    background-color: var(--secondary-color);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.lista ul{
    display: flex;
    padding: 45px;
}

.lista ul li{
    margin-left:var(--gap) ;
}

.barra-pesquisa{
    display: flex;
    height: 30px;
    margin-right: 30px;
    background-color: white;
}
.input-pesquisa{
    font-size: 15px;
    outline: none;
    border: none;
}
.barra-pesquisa .btn-pesquisar{
    width: 28px;
}
.sectionLetras{
    margin: auto;
    margin-top: var(--gap);
    width: 70%;
    height: 50px;
    
}

.letras{
    display: flex;
    text-align: center;
    justify-content: center;
    

}
.letras li{
    margin: 15px;

}
.animes{
    margin: auto;
    margin-top: var(--gap);
    width: 70%;
    min-height: 100vh;
}

.lancamentos-dia{
    position: relative;
    text-align: center;
}
.titulo-lancamentos-dia h1{
    padding:var(--gap);
}

.carrosel-animes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}



.carrosel-animes img{
    width: 200px;
    height: auto;
    margin: 10px;

}



.ultimos-ep-adicionados{
    text-align: center;
    
}

.grid-animes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.grid-animes img{
    width: 200px;
    height: auto;
}

.titulo-ultimos-ep{
    padding: var(--gap);
}

.mover-esquerda,
.mover-direita{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(68, 23, 23, 0.6);
    border: none;
    z-index: 99;

}

.mover-esquerda{
    left: 0;
    top: 60%;
}

.mover-direita{
    right: 0;
    top: 60%;
}

.mover-esquerda:hover  {
     
}